#cadastre-se {
  padding: 3em 0;

  .container {
    @include outer-container;

    .registry,
    .report-download {
      @include span-columns(6);
      padding: 0 1em;
    }

    .centraliza {
      text-align: center;
    }

    [type="submit"] {
      display: block;
      width: 100%;
      background: #2C4F77;
      font-weight: normal;
    }

    .social-register h2 {
      margin-top: 1em;
      text-align: center;
      margin-left: 0;
      &:before {
        content: none;
      }
    }

    .buttons {
      @include outer-container;

      button {
        @include span-columns(6);
        font-weight: normal;

        &#fb-button {
          background: #3664A2;
        }
        &#google-button {
          background: #DD4B39;
        }
      }
    }


  }
}

.report-box {
  display: block;
  width: 23.75em;
  height: 7em;
  margin: .7em auto 0;
  border: 15px solid #6EA74A;
  background-color: #2C5078;
  color: #fff;
  line-height: 5em;
  text-align: center;

  img,span {
    vertical-align: middle;
    font-size: 1.5em;
  }

  span {
    margin-left: 1em;
  }

  &:hover {
    color: #fff;
    span {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  #cadastre-se {
    .container {
      .registry,
      .report-download {
        @include span-columns(12);
        .report-box {
          width: 19.75em;
        }

      }
    }
  }
}
