#solucoes {
  background-color: #fff;

  h5 {
    font-size: 1em;
    text-align: center;
    margin: 1em 2em;
  }

  .minha-solucao {
    background-color: #8EC975;
    border-radius: 20px;

    width: 48%;
    float: left;
    margin: 1%;
    padding: 1em;
    color: #fff;

    .thumb-image,
    .content {
      @include span-columns(6);
      @include omega(2n);
    }

    .thumb-image {
      box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
      text-align: center;
      img {
        margin: 3.2em 0;
      }
    }

    p {
      color: #fff;
      font-size: em(14px);
    }

    .button {
      display: block;
      text-align: center;
      background-color: #6EA74A;
      border-radius: 10px;
      color: #2C5078;
    }
  }

  .solucao {
    width: 48%;
    float: left;
    margin: 1%;
    background-color: #2C5078;
    border-radius: 20px;
    padding: 1em;
    color: #fff;

    .thumb-image,
    .content {
      @include span-columns(6);
      @include omega(2n);
    }
    h6 {
      font-family: 'the_serif_bold-regular';
      font-size: em(20px);
      color: #8EC975;
      font-weight: normal;
    }

  }

  .post-like{
    margin-top:1em
  }

  .like{
    background:url(images/icons.png) no-repeat;
    width: 15px;
    height: 16px;
    display: block;
    float:left;
    margin-right: 4px;
    -moz-transition: all 0.2s ease-out 0.1s;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s
  }

  .post-like a:hover .like{
    background-position:-16px 0;
  }

  .voted .like, article footer .post-like.alreadyvoted{
    background-position:-32px 0;
  }


  .hide,
  .extra {
    display: none;
  }

  .content-saiba-mais {
    float:left;
    clear: both;
    height: 350px;
    width: 100%;
    background-color: #eee;
    padding: 1em;

    .extra {
      display: block;
    }
    .thumb-image,
    .content {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}