#solucoes {
  background-color: #fff;

  h5 {
    font-size: 1em;
    text-align: center;
    margin: 1em 2em;
  }

  .minha-solucao {
    background-color: #8EC975;
    border-radius: 20px;

    width: 48%;
    float: left;
    margin: 1%;
    padding: 1em;
    color: #fff;

    .thumb-image,
    .content {
      @include span-columns(6);
      @include omega(2n);
    }

    .thumb-image {
      border: 1px solid #fff;
      text-align: center;
      img {
        margin: 3.2em 0;
      }
    }

    p {
      color: #fff;
      font-size: em(14px);
    }

    .button {
      display: block;
      text-align: center;
      background-color: #6EA74A;
      border-radius: 10px;
      color: #2C5078;
    }
  }

  .solucao {
    width: 48%;
    float: left;
    margin: 1%;
    background-color: #2C5078;
    border-radius: 20px;
    padding: 1em;
    color: #fff;
    position: relative;

    .thumb-image,
    .content {
      @include span-columns(6);
      @include omega(2n);
    }

    h6 {
      font-family: 'the_serif_bold-regular';
      font-size: em(20px);
      color: #8EC975;
      font-weight: normal;
      height:50px;
    }

    p {
      font-size: em(14px);
    }

    .badge {
      position: absolute;
      width: 143px;
      height: 48px;
      left: -3px;
      text-indent: -9999px;
      background: top left url('images/icon-iniciativas.png') transparent no-repeat;
    }

    &.propostas {
      .badge {
        background-image: url('images/icon-propostas.png');
      }
      .thumb-image,
      .content {
        @include span-columns(12);

        p {
          height: 4em;
        }
      }

      .info {
        margin-top: 3.4em;
      }

      .button.post-like {
        width: 12%;
      }
    }
  }

  .button {
    padding: 10px;
    font-weight: normal;
  }

  .button.post-like {
    background: -62px 7px url('images/icon-like.png') no-repeat;
    display:inline-block;
    box-shadow: none;
    background-color: #8EC975;
    color: #8EC975;
    text-align: center;
    width: 25%;
    margin-left: 2%;
    -moz-transition: all 0.2s ease-out 0.1s;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;

    span {
      height: 26px;
      display: block;
    }
    &.alreadyvoted,
    &:hover {
      background-position: 8px 7px;
      color: #fff;
    }

    // &.voted {
    //   box-shadow: 3px 3px 6px rgba(255,255,255,.5);
    //   -moz-transition: all 0.2s ease-out 0.1s;
    //   -webkit-transition: all 0.2s ease-out 0.1s;
    //   -o-transition: all 0.2s ease-out 0.1s;
    // }
  }

  .button.carregar-formulario {
    display:block;
    box-shadow: none;
  }
  .button.saiba-mais-solucoes {
    display:inline-block;
    box-shadow: none;
    background-color: #204667;
    color: #fff;
    text-align: center;
    width: 70%;
  }

  .hide,
  .extra {
    display: none;
  }

  .content-saiba-mais {
    float:left;
    clear: both;
    height: 275px;
    width: 100%;
    background-color: #2C5078;
    color: #fff;
    padding: 1em;
    margin: 1em auto;
    position: relative;

    &.formulario {
      height: 750px;
    }

    .close.slide {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      border: 2px solid #fff; //#8EC975;
      color: #fff;
      border-radius: 30px;
      padding:4px;
      text-align: center;
      margin: 1em;

      width: 30px;
      height: 30px;
      position: absolute;
      text-decoration: none;
      right: 0;
      top: 0;
    }

    fieldset {
      background: none;
      border: 0;
    }

    a {
      color: #8EC975;
      text-decoration: underline;
    }

    h6 {
      font-size: em(24px);
      margin-bottom: 1em;
    }

    p {
      font-size: em(14px);
      margin: 0 0 0.3em;
    }

    .extra {
      display: block;
    }

    .thumb-image {
      @include span-columns(3);
    }
    .inner-content {
      @include span-columns(9);
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  #solucoes {
    .button.post-like.alreadyvoted,
    .button.post-like:hover {
      background-position: 19px 7px;
    }

    #solucoes .button.post-like {
      background-position: -51px 7px;
    }

    .minha-solucao,
    .solucao {
      width: 98%;

      .thumb-image {
        img {
          width: 100%;
        }
      }

      .thumb-image,
      .content,
      .inner-content {
        width : 98%;
      }
    }

    .content-saiba-mais {
      height: auto;
      .close.slide {
        background-color: #fff;
        color: #8EC975;
      }
      .thumb-image {
        @include span-columns(12);

        img {
          width: 100%;
        }
      }
      .inner-content {
        @include span-columns(12);
      }
    }
  }
}



@media screen and (min-width: 480px) and (max-width: 640px) {
  #solucoes {
    .minha-solucao,
    .solucao {
      width: 98%;
    }

    .button.post-like.alreadyvoted,
    .button.post-like:hover {
      background-position: 17px 7px;
    }

    #solucoes .button.post-like {
      background-position: -52px 7px;
    }
  }
}
